.left {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 600;
    color: white;
}

.right {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 400;
    color: white;
}

.header-conteiner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 43, 99);
    padding: 0px 100px;
    width: 100%;
}